# Exclude configuration files containing sensitive information
**/Config.xcconfig

# Xcode
.DS_Store
*.swp
*.xcscmblueprint
*.xccheckout
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.idea/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive
